mat-divider {
    background-image : linear-gradient(to right, #cf3c3c 1px, transparent 1px);
    background-size: 10px 1px;
    background-repeat: repeat-x;
    background-position: left bottom;
  }
.mat-tab-group {
  margin-bottom: 100px;
}