<mat-tab-group dynamicHeight>
    <mat-tab label="換字式暗号">
        <mat-list>
            <mat-list-item><a href="/caesarCipher" style="text-decoration:none; color: white;">シーザー暗号（カエサル式暗号/シフト暗号）</a></mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-tab>
    <mat-tab label="転置式暗号">
        <mat-list>
            <mat-list-item>エンコード/デコードが提供されていません</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-tab>
    <mat-tab label="分置式暗号">
        <mat-list>
            <mat-list-item>エンコード/デコードが提供されていません</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-tab>
  </mat-tab-group>