<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131313;
    opacity: 0.8;
    color: white;
    font-weight: 600;
  }
</style>
<div class="shutter">
  <div style="width: 100vw;height: 100vh;display: flex;align-items: center;justify-content: center;flex-flow: column;">
    <ng-lottie [options]="options"></ng-lottie>
  </div>
  <p style="color: white; opacity: 0.8;font-size: 10px;position: absolute;bottom: 0;">"<a href="https://lottiefiles.com/animations/fox-greetings-VW9zyHiZQi" style="text-decoration:none;">fox greetings</a>" by <a href="https://lottiefiles.com/solitudinem" style="text-decoration:none;">solitudinem</a> is licensed underCC BY 2.0﻿</p>
  
</div>
 
<section class="container">
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <span style="margin-left: 2vw;"><a href="/" style="text-decoration:none; color: white;">With Crypto</a></span>
      <div class="spacer"></div>
  </div>
  <router-outlet></router-outlet>
</section>