<div class="home__wrap">
    <div class="gradient">
        <div class="gradient__wrap">
            <h1 class="gradient__title">With Crypto</h1>
        </div>
    </div>
    
    <div class="aboutme__wrap">
        <div class="aboutme__title">About me</div>
        <div class="aboutme__description">
            「With Crypto」は、暗号総合プラットフォームです。<br>
            現在は暗号のエンコード/デコード機能のみを提供しております。<br>
            今後は、各種暗号の歴史的背景などをお伝えするようなページを作成できればと考えております。<br>
            Let's get started on your Crypto Life from here!!<br>
        </div>
    </div>
    
    <div class="coder__wrap">
        <div class="coder__title">Encoder/Decoder</div>
        <app-encoder-decoder></app-encoder-decoder>
    </div>
    
    <div class="withyou__wrap">
        <div class="withyou__title">With You</div>
        <div class="withyou__description">
            本サイトの運営者はCyber Securityを勉強している一介のエンジニアです。<br>
            随時更新をしていく想定ではございますが、誤った記載や追加してほしい暗号がある場合はご連絡して頂けると幸いです。<br>
        </div>
    </div>
    
    <div class="contactme__wrap">
        <div class="contactme__title">Contact Me</div>
        <div class="contactme__subtitle">
            SNS
        </div>
        <div class="contactme__box">
            <div class="contactme__box__item">
                <a href="https://twitter.com/erupisu4869062" target="_blank" rel="noopener noreferrer">
                    <img src="../../assets/2021 Twitter logo - blue.png" style="width: min(12vw,150px);height: min(12vm,150px);">
                </a>
            </div>
            <div class="contactme__box__item">
                <a href="https://www.linkedin.com/in/daigo-tsuchiya-452520261/" target="_blank" rel="noopener noreferrer">
                    <img src="../../assets/LI-In-Bug.png" style="width: min(12vw,150px);height: min(12vm,150px);">
                </a>
            </div>
        </div>
        <div class="contactme__subtitle">
            E-mail
        </div>
        <div class="contactme__box">
            <div class="contactme__box__item">
                t4869062d@gmail.com
            </div>
        </div> 
    </div>
</div>

