<div class="gradient">
    <div class="gradient__wrap">
        <h1 class="gradient__title">With Crypto</h1>
    </div>
</div>

<div class="aboutme__wrap">
    <div class="aboutme__title">About me</div>
    <div class="aboutme__description">
        「With Crypto」は、暗号総合プラットフォームです。<br>
        機能としては「エンコーダー/デコーダー」、「各種暗号の簡易的な説明」を提供しております。<br>
        皆様の良きCrypto Lifeをお祈りしております。<br>
    </div>
</div>

<div class="coder__wrap">
    <div class="coder__title">Encoder/Decoder</div>
    <div class="coder__description">
        「With Crypto」は、暗号総合プラットフォームです。<br>
        機能としては「エンコーダー/デコーダー」、「各種暗号の簡易的な説明」を提供しております。<br>
        皆様の良きCrypto Lifeをお祈りしております。<br>
    </div>
</div>
