.gradient {
    &__wrap {
      height: 40vh;
      
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__title {
      animation: AnimationTitle 5s ease infinite;
      background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
      background-size: 200% 100%;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      
      font-size: 12vw;
      font-family: KontanterBold;
      font-weight: 600;
      line-height: 1;
    }
  }
  @keyframes AnimationTitle {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
.aboutme {
  &__wrap {
    display: flex;
    flex-flow: column;
  }
  &__title {
    color: white;
    text-align: center;
    font-family: KontanterBold;
    font-size: 5vw;
  }
  &__description {
    margin:3em auto;
    color: white;
    text-align: center;
    font-size: 2vw;
    line-height:1.4em;
  }
}

.coder {
  &__wrap {
    display: flex;
    flex-flow: column;
  }
  &__title {
    color: white;
    text-align: center;
    font-family: KontanterBold;
    font-size: 5vw;
  }
  &__description {
    margin:3em auto;
    color: white;
    text-align: center;
    font-size: 2vw;
    line-height:1.4em;
  }
}